.admin-bar{
  .header {
    top: 2.875em;
  }

  .global-nav {
    top: calc(54px + 2.875em);
  }
}

.header {
  width: 100%;
  padding: 0.5em 0;
  background-color: #fff;
  line-height: 1;
  box-shadow: 0px 1px 3px #ddd;
  position: fixed;
  top: 0;
  z-index: 100;

  .container {
    width: 95%;
    max-width: inherit;
    margin: 0 auto;

  }

  &__logo {
    display: inline-block;
    height: 36px;

    a {
      display: inline-block;
      height: 20px;
      padding: 0.25em;
      box-sizing: content-box;
    }

    img {
      vertical-align: top;
      width: inherit;
      max-width: inherit;
      height: 20px;
    }
  }

  &.is-active-menu {
    .global-nav {
      transform: translateX(0);
    }
    .hamburger {
      background-color: transparent;

      &::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.global-nav {
  font-family: 'Ubuntu';
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 54px);
  background-color: #fff;
  padding: 1em 0;
  transform: translateX(100%);
  transition: .3s all ease-in-out;
}

.menu-primary,
.menu-secondary {

  a {
    display: block;
    text-decoration: none;
    padding: .5em 0;
  }

  li {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
  }
}

.menu-primary {
  width: 80%;
  margin: 0 auto;
  font-size: fz(18);
}

.menu-secondary {
  font-size: fz(16);
  width: 95%;
  margin: 0 0 0 auto;
}

.button-hamburger {
  display: block;
  width: 40px;
  height: 40px;
  appearance: none!important;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);

  .hamburger {
    display: inline-block;
    width: 80%;
    height: 2px;
    border-radius: 2px;
    background-color: $color-black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease-in-out;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: .3s all ease-in-out;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}

@include lap {
  .admin-bar .header {
    top: 2em;
  }

  .header {
    .container {
      display: flex;
      align-items: center;
    }
  }

  .global-nav {
    position: static;
    transform: translateX(0);
    padding: 0;
  }

  .button-hamburger {
    display: none;
  }

  .menu-primary {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    li {
      text-transform: uppercase;
      line-height: 1;
      font-size: fz(16);

      & + li {
        margin-left: .5em;
      }
    }

    a {
      padding: .5em;
    }
  }

  li {
    a {
      padding: .25em .75em;
    }
  }
}
