// variable settings here
$color-black: #0D0D0D;
$color-gray: #f4f4f4;
$color-white: #fff;
$color-yellow: #FFCF00;
$color-cyan: #80C5C6;
$color-navy: #282E89;


// --- color set text ---
$color-text-primary: $color-black;
$color-text-secondary: $color-white;


// --- color set background ---
$color-header-background: $color-black;
$color-body-background: $color-white;
$color-footer-background: $color-navy;
